---
import { projectsData } from "../../context/projectsData";
import Btn from "../Btn.astro";
import Arrow from "../icons/Arrow.astro";
---

<div class="slider">
  <ul class="slider__image-container">
    {
      projectsData.map((project, index) => (
        <li class="slider__image-wrap">
          <a href={project.url}>
            <img src={project.coverPath} alt="imagen del projecto" />
          </a>
        </li>
      ))
    }
  </ul>
  <header class="slider__header-container">
    <ul class="slider__header-wrap">
      {
        projectsData.map((project, index) => (
          <li class="slider__header">
            <h2 class="title">{project.name}</h2>
            <p class="subtitle">{project.category}</p>
          </li>
        ))
      }
    </ul>
  </header>
  <nav class="slider__buttons-wrap">
    <Btn text="prev" id="prev"><Arrow slot="left" /></Btn>
    <Btn text="next" id="next">
      <Arrow slot="right" modifier="arrow--left" />
    </Btn>
  </nav>
</div>

<script src="./sliderTest.js"></script>

<!-- divider -->

<style>
  .slider {
    width: 100%;
    position: relative;
  }
  .slider__image-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: 0.5rem solid var(--accent-black);
  }
  .slider__image-wrap {
    min-width: 100%;
    object-fit: cover;
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0.2s linear,
      opacity 1s ease-in;
  }

  .slider__image-wrap--active {
    visibility: visible;
    opacity: 1;
  }

  .slider__header-container {
    width: min(40rem, 80%);
    position: absolute;
    bottom: 2.5rem;
    left: 3rem;
    color: var(--accent-white);
  }
  .slider__header-wrap {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
  }
  .slider__header-wrap li {
    min-width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .slider__header h2 {
    visibility: hidden;
    transform: translateX(-300px);
    transition: transform 0.6s ease-in-out;
  }
  .slider__header--active h2 {
    transform: translateX(0);
    visibility: visible;
  }
  .slider__header p {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  .slider__header--active p {
    visibility: visible;
    opacity: 1;
  }

  .slider__content {
    color: var(--accent-white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition:
      opacity 1s ease-in,
      visibility 1s;
  }
  .slider__header-wrap li::before {
    content: "";
    display: inline-block;
    width: 7rem;
    height: 0.3rem;
    background-color: currentColor;
    order: 1;
  }

  .slider__buttons-wrap {
    position: absolute;
    bottom: 3rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    width: min(25rem, 90%);
    z-index: 2;
    color: var(--accent-white);
  }
  @media (max-width: 600px) {
    .slider__header-container,
    .slider__buttons-wrap {
      position: static;
      color: var(--accent-black);
      width: 85%;
      margin: 1rem auto;
    }
    .slider__buttons-wrap {
      justify-content: flex-start;
    }
  }
</style>
