---
import Layout from "../layouts/Layout.astro";
import SliderV3 from "../components/slider-v3/SliderV3.astro";
---

<Layout
  title="julian collazo bass"
  metaTitle="director of photography"
  metaDescription="portafolio of works"
  metaImage="/julian_meta_img.jpg"
>
  <section class="home-section">
    <h1 class="title title--home">- director of photography -</h1>
    <SliderV3 />
  </section>
</Layout>

<style>
  .home-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media screen and (max-width: 800px) {
    .home-section {
      width: 100%;
    }
  }
</style>
